<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>products</h1>
    <img src="./Wallpaper/1154566.jpg"  width="200px" alt="">
    <img src="./Wallpaper/1199914.png"  width="200px" alt="">
    <img src="./Wallpaper/1281110.jpg"  width="200px" alt="">
    <img src="./Wallpaper/1286724.jpg"  width="200px" alt="">
    <img src="./Wallpaper/1322714.jpeg" width="200px"  alt="">
    <img src="./Wallpaper/1325157.png"  width="200px" alt="">
</body>
</html>